<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
{{ partial "head/css.html" . }}
<!-- Google fonts-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic">
<!-- TODO: ONLY LOAD NEEDED FONTS ; maybe remove need for font while loading? There's a flash of content. -->

{{ partial "head/metadata.html" . }}
{{ partial "head/favicons.html" . }}

{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/google_analytics_async.html" . }}